* {
  margin: 0;
  padding: 0;
}

.boxes {
  height: 100px;
  width: 100%;
} 

.first {
  background-color:grey;
  padding: 25px;
  box-sizing: border-box;
}
.second {
  height: 200px;
  width: 100%;
}
#small-box{
  width: 50px;
  height: 50px;
  background-color:cornflowerblue;
}

p{
  padding:20px;
  margin:20px;
}

#third {
  background-color: crimson;
  width:100vw;
  height:100px;
}
#fourth {
  background-color: gold;
  width:100vw;
  height:100px;
}
#fifth {
  background-color: palegreen;
  width:100vw;
  height:100px;
}
#sixth {
  background-color: hotpink;
  width:100vw;
  height:100px;
}